.home-page {
  min-height: 100vh;
  width: 100%;
}
.banner-section {
  width: 100%;
  background-color: #e2e6e9;
  min-height: 50vh;
  /* border: 2px solid magenta; */
  /* display: grid; */
  /* background-image: url("../../public/assets/img/hero-bg.png"); */
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-section > * {
  width: var(--gutter-width);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(20rem, 25rem);
  justify-content: space-around;
  /* border: 2px solid green; */
}

.banner-section .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
  justify-self: flex-start;
}
.banner-section .headline {
  font-size: 32px;
  line-height: 2rem;
  font-weight: bold;
  color: #354e57;
}
.banner-section .prgh {
  font-size: 1rem;
  color: #354e57;
}

.banner-section .product-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* media query for banner-section section */
@media (max-width: 768px) {
  .banner-section > * {
    grid-template-columns: auto;
  }
  .banner-section .product-img {
    grid-row: 1;
  }
}

/* Products section  */
.product-section {
  width: 100%;
  min-height: 70vh;
  background-color: #f7f7f7;
  padding-top: var(--margin-3x);
}

.product-section__content {
  display: grid;
  grid-template-rows: minmax(2rem, 3rem) 1fr;
  width: var(--gutter-width);
  margin-inline: auto;
  /* border: 2px solid green; */
}
.product-section__headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #2e2e22;
  font-size: 14px;
  font-weight: 600;
  /* border: 2px solid green; */
  width: var(--gutter-width);
  max-width: var(--max-gutter-width);
  margin-inline: auto;
}
.product-section__products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
  justify-content: center;
  gap: 1vh;
}

.belt.ingredient {
  border: none;
}

/* ingredients section */

.home-page .ingredient-section {
  background-color: #f7f7f7;
}
.home-page .ingredient-section > * {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 10rem));
  gap: 1vh;
  align-items: center;
  justify-content: center;
  width: var(--gutter-width);
  max-width: var(--max-gutter-width);
}
.three-element-section {
  min-height: 200px;
  display: grid;
}
.three-element-section > * {
  width: var(--gutter-width);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}
.three-element-section .three-element-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}
.three-element-card__title {
  font-size: 16px;
  font-weight: 600;
  color: #354e57;
  text-align: center;
}
.three-element-card__link {
  color: #354e57;
  font-size: 12px;
}
@media (max-width: 375px) {
  .three-element-section > * {
    padding: 1rem 0;
    flex-direction: column;
  }
}

/* **************************
                     About Page begins here
*****************************
 */

.about-page {
  min-height: 100vh;
  width: 100%;
}
.about-page__section1 {
  background-image: url("../../public/assets/img/cactus.png");
  background-color: #eef3f4;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 85vh;
  display: grid;
  place-items: center;
}
.about-page__section1 > * {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  display: flex;
  margin-inline: auto;
  width: var(--gutter-width);
  max-width: var(--max-gutter-width);
  /* border: 2px solid green; */
}
.about-page__section1 .headline {
  font-size: var(--f-size-5x);
  font-weight: bold;
  color: #354e57;
  max-width: 700px;
}
.about-page__section1 .prgh {
  max-width: 500px;
  font-size: 16px;
  color: #354e57;
}

.about-page .belt {
  border: none;
  padding-top: var(--f-size-3x);
  padding-bottom: var(--f-size-3x);
  max-width: 100%;
  margin-inline: auto;
  background: white;
}
.about-page .belt > * {
  margin-inline: auto;
  max-width: var(--max-gutter-width);
  width: var(--gutter-width);
}
/* teasers section  */
.about-page .teaser-section__one {
  flex-direction: row-reverse;
}
.about-page .teaser-section__one .teaser-section__info {
  background-color: transparent;
  color: #354e57;
}
.about-page .teaser-section__one .teaser-section__title {
  color: #354e57;
}
.about-page .teaser-section__one .teaser-section__prgh {
  color: #2e2e22;
}
.about-page .teaser-section__one .teaser-section__btn {
  border-color: #956a53;
  color: #354e57;
}
.about-page .teaser-section__two .teaser-section__info {
  background-color: #a67744;
}

.about-page .teaser-section__two .teaser-section__prgh {
  color: #eef2f4;
}
.about-page .teaser-section__two .teaser-section__btn {
  border-color: #fff;
  color: #f7f5e6;
}
@media (max-width: 768px) {
  .about-page .teaser-section__one {
    flex-direction: column-reverse;
  }
}

/* image grid section */
.img-grid-section {
  min-height: 100vh;
  width: 100%;
  margin-top: var(--margin-3x);
}
.img-grid-section > * {
  grid-template-rows: auto 1fr;
  margin-inline: auto;
  max-width: var(--max-gutter-width);
  width: var(--gutter-width);
}

.img-grid-section__social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
}
.img-grid-section__social > .icon {
  width: 54.2px;
  height: 54.2px;
}

.img-grid-section__grid-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 255px));
  grid-auto-rows: minmax(150px, 255px);
  gap: 1vh;
  justify-content: center;
}
.img-grid-section__grid-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* news section begins here */

.news-section {
  min-height: 50vh;
  margin-top: var(--margin-3x);
}
.news-section > * {
  width: var(--gutter-width);
  max-width: var(--max-gutter-width);
  margin-inline: auto;
}
.news-section__belt {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-section__belt > .headline {
  color: #354e57;
  font-size: var(--f-size-4x);
  font-weight: bolder;
}
.news-section__belt > .prgh {
  color: #354e57;
  font-size: var(--f-size-2x);
}
.news-section__grid-box {
  margin-top: var(--margin-3x);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 251px));
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

/* **************************
                    Category Page (acne) 
                    
*****************************
 */

.category-section {
  min-height: 100vh;
}
.category-section > * {
  width: var(--gutter-width);
  max-width: var(--max-gutter-width);
  margin-inline: auto;
  display: grid;
  /* border: 1px solid green; */
  gap: 5vh;
}
.category-section .dropdown {
  grid-column: 1/3;
  grid-row: 1 / 2;
  margin-inline-start: auto;
}
.category-section .links {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.category-section .products {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  gap: 2vh;
}
.category-section .products > * {
  flex: 1;
}
.category-section .products > *:nth-child(1) {
  flex: 2;
  grid-template-columns: minmax(200px, 400.31px);
  width: 100%;
  border: 2px solid brown;
  max-width: 100%;
}

@media (max-width: 375px) {
  .category-section .links {
    display: none;
  }
}

/* teaser section */
._category .teaser-section {
  margin-top: var(--margin-3x);
}
._category .teaser-section__info {
  background-color: #a67744;
}

/* **************************
                    single product Page  
                    
*****************************
 */
.single-product-page {
  min-height: 100vh;
}
.single-product-section {
  min-height: 50vh;
  margin-top: var(--margin-2x);
  /* border: 2px solid burlywood; */
}
.single-product-section > * {
  /* height: 80%; */
  margin-inline: auto;
  width: var(--gutter-width);
  max-width: var(--max-gutter-width);
  display: grid;
  grid-template-columns: 45% 45%;
  grid-auto-rows: auto;
  gap: 2vh;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid midnightblue; */
}
.single-product-section .product-carousel {
  align-self: flex-start;
}
@media (max-width: 768px) {
  .single-product-section > * {
    grid-template-columns: auto;
  }
}

.related-products-section {
  margin-top: var(--margin-3x);
}
.related-products-section > * {
  width: var(--gutter-width);
  max-width: var(--max-gutter-width);
  margin-inline: auto;
  display: grid;
  grid-template-rows: auto 1fr;
}
.related-products-section__headline {
  font-size: var(--f-size-4x);
  font-weight: bold;
  color: #354e57;
  text-align: center;
}
.related-products-section__products {
  margin-top: var(--margin-2x);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
}
.related-products-section__products > * {
  flex: 1;
}

/* ingredients section begins here */
.ingredient-section {
  margin-top: var(--margin-3x);
}
.ingredient-section > * {
  width: var(--gutter-width);
  max-width: var(--max-gutter-width);
  display: grid;
  grid-template-rows: auto 1fr;
  margin-inline: auto;
}
.ingredient-section__header {
  text-align: center;
}
.ingredient-section__header .title {
  font-size: var(--f-size-4x);
  font-weight: bold;
}
.ingredient-section__header .subtitle {
  font-size: var(--f-size-2x);
}
.ingredient-section__ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
}
.ingredient-section__ingredients > * {
  flex: 1;
}

.single-product-page .teaser-section {
  margin-top: var(--margin-3x);
}
.single-product-page .teaser-section__info {
  background: #d7ccdd;
}

/* **************************
                      AUTH - LOGIN, REGISTER PAGE
*****************************
 */
